* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'PT Serif', Georgia, serif;
}

html {
  font-size: 62.5%;
}

/* Header & Nav */

ul,
.nav {
  display: flex;
}

.header {
  padding: 2rem 0 1rem;
  width: 110rem;
  margin: 0 auto;
}

.header ul {
  justify-content: space-between;
}

.header img {
  max-width: 360px;
}

.header button {
  padding: 0.3rem 2.5rem;
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #3ab3e5;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.header-newsletter {
  cursor: pointer;
}

.header button:hover {
  background-color: #288eb7;
}

.header-newsletter h3 {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: #3ab3e5;
}
.header-newsletter h3:hover {
  color: #288eb7;
}

.header-newsletter h4 {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #999999;
}
.header-newsletter h4:hover {
  text-decoration: underline;
}

.nav {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.nav li {
  margin-right: 1.8rem;
  padding: 1rem 0;
}

.nav li:hover {
  cursor: pointer;
}

.nav li:last-of-type {
  margin-right: 0;
}
.nav-user li {
  display: flex;
  align-items: center;
}

.nav-links--space {
  color: #3ab3e5;
  border-bottom: solid 5px black;
}

.nav-links-black {
  transition: border ease 0.3s;
}

.nav-links-black:hover {
  color: #3ab3e5;
  border-bottom: solid 5px black;
}

.nav-links-blue {
  color: #3ab3e5;
  transition: border ease 0.3s;
}
.nav-links-blue:hover {
  border-bottom: solid 5px black;
}

.nav-user li:hover {
  color: #999;
}
.nav-user-text:hover {
  text-decoration: underline;
}
/* Main content */

.main {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 1fr;
}

.article h1 {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.1rem;
  color: #000000;
  padding-top: 2rem;
}

.article-social {
  height: 4.7rem;
  margin: 1rem 0 0.5rem;
}

.article-author {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4d4d4d;
  margin-bottom: 0.8rem;
}

.article-author-location {
  font-weight: 700;
}

.article-author-name {
  font-weight: 700;
  color: #00b3e5;
}

.article-main-image {
  width: 100%;
}

.figcaption {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #4d4d4d;
  font-weight: 700;
  margin-bottom: 2rem;
}
.figcaption-subtitle {
  font-weight: 400;
}

.article-content {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.article-related {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
  margin: 2rem 0 2.5rem;
}

.article-references {
  font-size: 1.6rem;
}

.article-references span {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 700;
}

.article-sign-up {
  padding-top: 1rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.article-link {
  color: #00b3e5;
  text-decoration: none;
}

.article-more {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

.article-more button {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #1b5587;
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  margin: 0 0.5rem;
}
/* Sidebar */

.sidebar {
  padding-top: 2rem;
  padding-left: 2rem;
  z-index: -1;
}

.sidebar-sections li {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 1rem 1.4rem;
  margin-right: 0.5rem;
}

.sidebar-link {
  margin-top: 0.5rem;
  background-color: #f5f5f5;
  position: relative;
}

.sidebar-link-text {
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2.2rem;
  padding: 1.5rem 1rem;
  width: 90%;
}

.sidebar-link-text a {
  color: #000000;
  text-decoration: none;
}

.sidebar-link-text a:hover {
  color: #00b3e5;
}

.sidebar-link-number {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #00b3e5;
}

.related-content {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: 45% 30% 25%;
}

.article-social-related {
  margin-top: -0.5rem;
}
.related-content ul {
  flex-direction: column;
}
.magazine-cover {
  width: 20rem;
}

.related-button {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.subscribe-button {
  background-color: #3ab3e5;
}
.view-button {
  background-color: #31b2aa;
}

.buy-button {
  background-color: #f70b01;
}

.more-content {
  width: 110rem;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
}
/* Footer */
