* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

ul,
nav {
  display: flex;
}

header {
  padding: 2rem 0;
  width: 960px;
  margin: 0 auto;
}

header ul {
  justify-content: space-between;
}

header h1 {
  font-family: 'PT Serif', serif;

  font-size: 3rem;
}
